<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.odaridavid.isonge.location">

    <!--  Required for foreground location access,-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

</manifest>
